.facilities {
  &-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    position: fixed;
    width: 100%;
    max-width: 90%;
    z-index: 10;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);

    .tab-item {
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: 0.04px;
      padding: 13px 32px;
      border-radius: 50px;
      overflow: hidden;
      position: relative;
      background-color: var(--color-white);
      width: max-content;
      transition: all 0.4s ease;
      text-transform: uppercase;

      span {
        position: relative;
        z-index: 3;
        transition: all 0.4s ease;
      }

      &::after {
        content: "";
        background: linear-gradient(rgb(0, 61, 56) 0%, rgb(17, 190, 154) 100%);
        opacity: 0;
        pointer-events: none;
        position: absolute;
        inset: 0;
        z-index: 2;
        transition: all 0.4s ease;
      }

      &:hover,
      &.active {
        background-color: var(--color-primary);
        color: var(--color-white);
        &::after {
          opacity: 1;
        }
      }
    }
  }

  &-wrapper {
    width: 100%;
    // height: calc(100dvh - 70px);
    position: relative;
    margin-bottom: 68px;

    .image {
      width: 100%;
      aspect-ratio: 1440 / 741;
      min-height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }

      &-overlay {
        width: 100%;
        aspect-ratio: 1440 / 741;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        min-height: 100%;

        .map-wrapper {
          width: 100%;
          height: 100%;
        }

        svg {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: bottom;
        }

        .area {
          transition: opacity 0.4s ease;
          // pointer-events: none;

          &.hide {
            opacity: 0;
          }
        }

        .dot {
          position: relative;
        }

        .tooltip-area {
          position: absolute;
          background: white;
          color: black;
          font-size: 12px;
          line-height: 1.2;
          letter-spacing: 0.04px;
          padding: 8px 14px;
          border-radius: 50px;
          white-space: nowrap;
          transform: translate(-50%, -50%);
          pointer-events: none;
          // text-transform: uppercase;
          text-align: center;

          &::after {
            content: "";
            width: 1px;
            height: 0;
            background-color: white;
            position: absolute;
            left: 50%;
            bottom: calc(var(--line-height) * -1);
            transform: translateX(-50%);
            animation: lineGrowShrink 2.5s ease-in-out infinite;
          }
        }
      }
    }
  }
}

@keyframes lineGrowShrink {
  0% {
    height: 0;
    bottom: calc(var(--line-height) * -1);
  }
  50% {
    height: var(--line-height);
    bottom: calc(var(--line-height) * -1);
  }
  100% {
    height: 0;
    bottom: 0;
  }
}
