.mascot {
  .dragon {
    position: fixed;
    z-index: 10;
    bottom: 110px;
    left: 35px;

    width: 160px;
    height: auto;
    animation: moveY 3s ease-in-out infinite;

    @media (max-width: 991px) {
      width: 84px;
      height: 96px;
      left: 25px;
      bottom: 200px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .robot {
    position: fixed;
    z-index: 10;
    left: 8px;
    bottom: 240px;
    width: 55px;
    height: auto;
    animation: moveY 2.5s ease-in-out infinite;

    @media (max-width: 991px) {
      width: 25px;
      bottom: 280px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@keyframes moveY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.intruction {
  position: fixed;
  z-index: 11;
  left: 210px;
  bottom: 80px;

  width: 260px;
  height: 200px;
  background-color: var(--color-third);
  color: var(--color-white);
  padding: 25px 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04px;

  transform: translateY(30px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.8s ease;

  @media (max-width: 991px) {
    bottom: 100px;
    left: 120px;
  }

  &.open {
    transform: translate(0);
    opacity: 1;
    pointer-events: auto;
  }

  .title {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04px;
    text-transform: uppercase;
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    &.mobile {
      display: none;

      @media (max-width: 991px) {
        display: flex;
      }
    }

    @media (max-width: 991px) {
      display: none;
    }
  }

  .desc {
    &.mobile {
      display: none;

      @media (max-width: 991px) {
        display: flex;
      }
    }

    @media (max-width: 991px) {
      display: none;
    }
  }

  .icon-close {
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);

    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    transition: all 0.4s ease;

    &:hover {
      background-color: var(--color-third);
    }
  }
}

.magic-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999999;

  @media (max-width: 1023px) {
    display: none;
  }

  .cursor {
    width: 22px;
    height: 25px;
    // background-color: var(--color-primary);
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &.show-text {
      width: 80px;
      height: 80px;
      background-color: var(--color-primary);

      .text {
        opacity: 1;
        // transition-delay: 0.2s;
        transition-duration: 0.4s;
      }
    }

    span {
      font-family: var(--font-body);
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
      letter-spacing: 0.8px;
      text-align: center;
      text-transform: uppercase;
      display: block;
    }
  }

  .text {
    min-width: max-content;
    opacity: 0;
    // transition: all 0.5s ease;
  }
}

.loading {
  .logo {
    @media (max-width: 991px) {
      width: 220px !important;
    }
  }
}

.dropdown-custom {
  position: relative;
  cursor: pointer;
}
.dropdown-custom-menu {
  position: absolute;
  bottom: -1px;
  left: -50%;
  transform: translate(50%, 100%);
  background-color: var(--color-white);
  width: 100%;
  padding: 8px;
  clip-path: inset(0 0 100% 0);
  will-change: clip-path;
  transition: clip-path 0.3s ease;
  pointer-events: none;
  border-radius: 20px;
  &.dropdown--active {
    clip-path: inset(0 0 0 0);
    pointer-events: auto;
  }
}
.dropdown-custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(#003d38 0, #11be9a 100%);
  border-radius: 50px;
  min-height: 30px;
  position: relative;

  .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: all 0.4s ease;
  }

  &.--active {
    .icon {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .value-select {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      color: var(--color-white);
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
    }
  }
}
.dropdown-custom-item {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: all 0.3s ease;
  text-align: center;
  &:hover {
    background-color: rgba(23, 75, 156, 0.1);
  }
  span {
    color: var(--color-black);
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
  }
}

.glightbox-container .ginner-container {
  @media (max-width: 991px) {
    width: calc(100% - 48px) !important;
  }
}
