.mascot {
  .dragon {
    position: fixed;
    z-index: 10;
    bottom: 110px;
    left: 35px;

    width: 160px;
    height: auto;
    animation: moveY 3s ease-in-out infinite;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .robot {
    position: fixed;
    z-index: 10;
    left: 8px;
    bottom: 240px;
    width: 55px;
    height: auto;
    animation: moveY 2.5s ease-in-out infinite;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@keyframes moveY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.intruction {
  position: fixed;
  z-index: 11;
  left: 210px;
  bottom: 80px;

  width: 260px;
  height: 200px;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 25px 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04px;

  .title {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04px;
    text-transform: uppercase;
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
}

.magic-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1061;

  @media (max-width: 1023px) {
    display: none;
  }

  .cursor {
    width: 22px;
    height: 25px;
    // background-color: var(--color-primary);
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &.show-text {
      width: 80px;
      height: 80px;
      background-color: var(--color-primary);

      .text {
        opacity: 1;
        // transition-delay: 0.2s;
        transition-duration: 0.4s;
      }
    }

    span {
      font-family: var(--font-body);
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
      letter-spacing: 0.8px;
      text-align: center;
      text-transform: uppercase;
      display: block;
    }
  }

  .text {
    min-width: max-content;
    opacity: 0;
    // transition: all 0.5s ease;
  }
}
