#header {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.header {
  &-container {
    height: 70px;
  }

  &-menu {
    ul {
      display: grid;
      grid-template-columns: repeat(8, 1fr);

      @media (max-width: 991px) {
        grid-template-columns: repeat(7, 1fr);
      }

      li,
      a {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 991px) {
          flex-direction: column;
          text-align: center;
        }
      }

      a {
        gap: 16px;

        @media (max-width: 991px) {
          gap: 8px;
        }

        span {
          @media (max-width: 991px) {
            display: none;
          }
        }

        &.active {
          width: 107px;

          span {
            @media (max-width: 991px) {
              display: block;
            }
          }
        }
      }

      li {
        min-height: 70px;
        transition: all 0.4s ease;
        background: var(--color-third);
        color: var(--color-white);
        cursor: pointer;
        position: relative;

        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.04px;
        text-transform: uppercase;

        .icon {
          min-width: max-content;
        }

        a {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 3;
        }

        &:not(.header-logo) {
          &::after {
            content: "";
            background: linear-gradient(
              rgb(0, 61, 56) 0%,
              rgb(17, 190, 154) 100%
            );
            opacity: 0;
            pointer-events: none;
            position: absolute;
            inset: 0;
            z-index: 2;
            transition: all 0.4s ease;
          }
        }

        &:hover,
        &.active {
          &::after {
            opacity: 1;
          }
        }

        &:has(a.active) {
          &::after {
            opacity: 1;
          }
        }
      }

      .header-logo {
        background-color: var(--color-white);

        @media (max-width: 991px) {
          display: none;
        }

        a {
          display: flex;
          width: 100%;
          height: 100%;
        }

        img {
          margin: 0 auto;
          width: 94px;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
}
