.leaflet {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: calc(100dvh - 70px);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: url("../../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
    padding: 48px 0 118px;

    .wp-block-image {
      width: 100%;
      border: 2px solid var(--color-white);

      img {
        height: auto;
        object-fit: contain;
      }
    }
  }
}
