.location {
  height: calc(100dvh - 70px);
  overflow: hidden;

  &-wrapper {
    height: calc(100dvh - 69px);
    position: relative;

    @media (max-width: 991px) {
      overflow-x: scroll;
      overflow-y: hidden;
      height: calc(100dvh - 69px);
      width: auto;
      min-width: 100%;
    }

    .image {
      position: relative;
    }

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom right;

      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
