<div class="header-container">
  <div class="header-menu">
    <ul>
      <li class="header-logo">
        <a href="./index.html">
          <img src="./assets/images/logo.svg" alt="" />
        </a>
      </li>
      <li>
        <a href="./index.html">
          <div class="icon">
            <img src="./assets/images/header/icon-1.svg" alt="" />
          </div>
          Toàn cảnh
        </a>
      </li>
      <li>
        <a href="./location.html">
          <div class="icon">
            <img src="./assets/images/header/icon-2.svg" alt="" />
          </div>
          Vị trí
        </a>
      </li>
      <li>
        <a href="subdivision.html">
          <div class="icon">
            <img src="./assets/images/header/icon-3.svg" alt="" />
          </div>
          Phân khu
        </a>
      </li>
      <li>
        <a href="./model.html">
          <div class="icon">
            <img src="./assets/images/header/icon-4.svg" alt="" />
          </div>
          Mẫu nhà
        </a>
      </li>
      <li>
        <a href="./facilities.html">
          <div class="icon">
            <img src="./assets/images/header/icon-5.svg" alt="" />
          </div>
          Tiện ích
        </a>
      </li>
      <li>
        <a href="./gallery.html">
          <div class="icon">
            <img src="./assets/images/header/icon-6.svg" alt="" />
          </div>
          Thư viện
        </a>
      </li>
      <li>
        <a href="./leaflet.html">
          <div class="icon">
            <img src="./assets/images/header/icon-7.svg" alt="" />
          </div>
          Leaflet
        </a>
      </li>
    </ul>
  </div>
</div>
