:root {
  --font-primary: "Vogun", sans-serif;
  --color-primary: #174642;
  --color-secondary: #b79b79;
  --color-third: #0f302e;
  --color-white: #fff;
  --color-black: #000;
}

body {
  font-family: var(--font-primary);
}

* {
  cursor: none !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.mascot .dragon {
  position: fixed;
  z-index: 10;
  bottom: 110px;
  left: 35px;
  width: 160px;
  height: auto;
  animation: moveY 3s ease-in-out infinite;
}
.mascot .dragon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mascot .robot {
  position: fixed;
  z-index: 10;
  left: 8px;
  bottom: 240px;
  width: 55px;
  height: auto;
  animation: moveY 2.5s ease-in-out infinite;
}
.mascot .robot img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes moveY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.intruction {
  position: fixed;
  z-index: 11;
  left: 210px;
  bottom: 80px;
  width: 260px;
  height: 200px;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04px;
  transform: translateY(30px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.8s ease;
}
.intruction.open {
  transform: translate(0);
  opacity: 1;
  pointer-events: auto;
}
.intruction .title {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.04px;
  text-transform: uppercase;
}
.intruction .action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.intruction .icon-close {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

.magic-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999999;
}
@media (max-width: 1023px) {
  .magic-cursor {
    display: none;
  }
}
.magic-cursor .cursor {
  width: 22px;
  height: 25px;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.magic-cursor .cursor img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.magic-cursor .cursor.show-text {
  width: 80px;
  height: 80px;
  background-color: var(--color-primary);
}
.magic-cursor .cursor.show-text .text {
  opacity: 1;
  transition-duration: 0.4s;
}
.magic-cursor .cursor span {
  font-family: var(--font-body);
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.magic-cursor .text {
  min-width: max-content;
  opacity: 0;
}

#header {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.header-container {
  height: 70px;
}
.header-menu ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.header-menu ul li,
.header-menu ul a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu ul a {
  gap: 16px;
}
.header-menu ul li {
  min-height: 70px;
  transition: all 0.4s ease;
  background: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  position: relative;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04px;
  text-transform: uppercase;
}
.header-menu ul li a {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}
.header-menu ul li:not(.header-logo)::after {
  content: "";
  background: linear-gradient(rgb(0, 61, 56) 0%, rgb(17, 190, 154) 100%);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 2;
  transition: all 0.4s ease;
}
.header-menu ul li:hover::after, .header-menu ul li.active::after {
  opacity: 1;
}
.header-menu ul li:has(a.active)::after {
  opacity: 1;
}
.header-menu ul .header-logo {
  background-color: var(--color-white);
}
.header-menu ul .header-logo a {
  display: flex;
  width: 100%;
  height: 100%;
}
.header-menu ul .header-logo img {
  margin: 0 auto;
  width: 94px;
  height: auto;
  object-fit: contain;
}

.overview {
  height: calc(100dvh - 70px);
  position: relative;
}
.overview-switcher {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 10;
}
.overview-switcher .toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.overview-switcher .toggle-slot {
  position: relative;
  height: 40px;
  width: 80px;
  border-radius: 10em;
  background-color: white;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 250ms;
}
.overview-switcher .toggle-checkbox:checked ~ .toggle-slot {
  background-color: var(--color-black);
}
.overview-switcher .toggle-button {
  transform: translateY(-50%);
  top: 50%;
  left: 4px;
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms, border-color 250ms, transform 500ms ease;
}
.overview-switcher .toggle-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  transition: opacity 0.3s ease;
}
.overview-switcher .toggle-button .icon-moon {
  opacity: 0;
}
.overview-switcher .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  transform: translate(calc(100% + 8px), -50%);
}
.overview-switcher .toggle-checkbox:checked ~ .toggle-slot .toggle-button .icon-sun {
  opacity: 0;
}
.overview-switcher .toggle-checkbox:checked ~ .toggle-slot .toggle-button .icon-moon {
  opacity: 1;
}
.overview-switcher .sun-icon {
  position: absolute;
  height: 32px;
  width: 32px;
}
.overview-switcher .moon-icon-wrapper {
  position: absolute;
  top: 50%;
  left: 4px;
  height: 32px;
  width: 32px;
  opacity: 1;
  transform: translate(4px, -50%) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms ease;
  animation: fadePulse 3s ease-in-out infinite;
}
.overview-switcher .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
}
.overview-switcher .moon-icon {
  position: absolute;
  height: 32px;
  width: 32px;
}
.overview-switcher .sun-icon-wrapper {
  position: absolute;
  top: 50%;
  right: 4px;
  height: 32px;
  width: 32px;
  opacity: 1;
  transform: translate(0, -50%) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms ease;
  animation: spinReverse 20s linear infinite;
}
.overview-switcher .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
}
.overview-main {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.overview-main__item {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease;
}
.overview-main__item.active {
  z-index: 3;
  opacity: 1;
  visibility: visible;
}

@keyframes fadePulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinReverse {
  0% {
    transform: translate(0, -50%) rotate(0deg);
  }
  50% {
    transform: translate(0, -50%) rotate(360deg);
  }
  100% {
    transform: translate(0, -50%) rotate(0deg);
  }
}
.gallery {
  background: var(--bg-section);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100dvh;
}
.gallery .nav-tabs {
  justify-content: center;
  border: none;
  gap: 10px;
  padding: 24px 0 40px;
}
.gallery .nav-tabs .nav-link {
  background-color: var(--color-white);
  border: none;
  color: var(--color-primary);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04px;
  padding: 13px 16px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.gallery .nav-tabs .nav-link span {
  position: relative;
  z-index: 3;
}
.gallery .nav-tabs .nav-link:hover, .gallery .nav-tabs .nav-link.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.gallery .nav-tabs .nav-link:hover::after, .gallery .nav-tabs .nav-link.active::after {
  opacity: 1;
}
.gallery .nav-tabs .nav-link::after {
  content: "";
  background: linear-gradient(rgb(0, 61, 56) 0%, rgb(17, 190, 154) 100%);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 2;
  transition: all 0.4s ease;
}
.gallery .gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0 40px 40px;
}
.gallery .gallery-list .gallery-item {
  border-radius: 12px;
  overflow: hidden;
  aspect-ratio: 437/236;
  position: relative;
  width: calc((100% - 48px) / 3);
}
.gallery .gallery-list .gallery-item::after {
  content: "";
  width: 150%;
  height: 250%;
  background: linear-gradient(to right, #0ea889, #0f302e);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 5s linear infinite;
  z-index: 1;
  transform-origin: center;
}
.gallery .gallery-list .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .gallery-list .gallery-item .image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: all 0.5s ease;
  border-radius: 12px;
  overflow: hidden;
}
.gallery .gallery-list .gallery-item:hover .icon-play {
  background-color: var(--color-secondary);
}
.gallery .gallery-list .gallery-item:hover .image {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}
.gallery .gallery-list .gallery-item .icon-play {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-third);
  color: var(--color-white);
  transition: all 0.4s ease;
}
.gallery .fade {
  transition: opacity 0.4s linear;
}

.gslide-media {
  width: auto;
  max-width: 1100px;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.facilities-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}
.facilities-tabs .tab-item {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04px;
  padding: 13px 32px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  background-color: var(--color-white);
  width: max-content;
  transition: all 0.4s ease;
  text-transform: uppercase;
}
.facilities-tabs .tab-item span {
  position: relative;
  z-index: 3;
  transition: all 0.4s ease;
}
.facilities-tabs .tab-item::after {
  content: "";
  background: linear-gradient(rgb(0, 61, 56) 0%, rgb(17, 190, 154) 100%);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 2;
  transition: all 0.4s ease;
}
.facilities-tabs .tab-item:hover, .facilities-tabs .tab-item.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.facilities-tabs .tab-item:hover::after, .facilities-tabs .tab-item.active::after {
  opacity: 1;
}
.facilities-wrapper {
  width: 100%;
  height: calc(100dvh - 70px);
  position: relative;
}
.facilities-wrapper .image {
  width: 100%;
  aspect-ratio: 1440/741;
}
.facilities-wrapper .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.facilities-wrapper .image-overlay {
  width: 100%;
  aspect-ratio: 1440/741;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.facilities-wrapper .image-overlay svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.facilities-wrapper .image-overlay .area {
  transition: opacity 0.4s ease;
  pointer-events: none;
}
.facilities-wrapper .image-overlay .area.hide {
  opacity: 0;
}
.facilities-wrapper .image-overlay .dot {
  position: relative;
}
.facilities-wrapper .image-overlay .tooltip-area {
  position: absolute;
  background: white;
  color: black;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04px;
  padding: 13px 16px;
  border-radius: 50px;
  white-space: nowrap;
  transform: translate(-50%, -120%);
  pointer-events: none;
  text-transform: uppercase;
}
.facilities-wrapper .image-overlay .tooltip-area::after {
  content: "";
  width: 1px;
  height: 0;
  background-color: white;
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  animation: lineGrowShrink 2.5s ease-in-out infinite;
}

@keyframes lineGrowShrink {
  0% {
    height: 0;
    bottom: -60px;
  }
  50% {
    height: 60px;
    bottom: -60px;
  }
  100% {
    height: 0;
    bottom: 0;
  }
}